<md-dialog class="hud-save-widget" layout="column" layout-align="center stretch" layout-padding>
    <div flex="10" layout layout-align="center stretch">
        <span class="hud-modal-title" flex>{{modalTitle}}</span>
        <div flex="15" layout layout-align="center center">
            <md-button ng-click="CloseModal()" aria-label="close button" class="md-icon-button" hud-setter padding="'0 0 0 0'" margin="'0 0 0 0'"><md-icon md-svg-src="{{SVG.close}}"></md-icon></md-button>
        </div>
    </div>
    <div flex layout="row" layout-align="center stretch" layout-padding>
        <form name="saveDashboard" ng-submit="SaveDashboard()" flex layout="column" layout-align="center stretch">
            <div flex="10" layout layout-align="center stretch">
                <span>Total Widgets: {{widgetArray.length}}</span>
            </div>
            <md-input-container flex class="md-block">
                <label>Dashboard Name</label>
                <input type="text" name="dashboardName" ng-model="objToSave.dashboardName" required>
            </md-input-container>
            <div flex layout layout-align="center stretch">
                <md-radio-group ng-model="objToSave.isPublic">
                    <md-radio-button value="0" class="md-primary">Private</md-radio-button>
                    <md-radio-button value="1" class="md-primary">Public</md-radio-button>
                </md-radio-group>
            </div>
            <div flex="10" layout layout-align="end stretch">
                <md-button type="submit" class="md-primary md-raised" ng-disabled="saveDashboard.$invalid">
                    <md-icon md-svg-src="{{SVG.save}}"></md-icon>
                    Save
                </md-button>
            </div>
        </form>
        <!--<div flex class="scrollbar-macosx span-width" data-jquery-scrollbar layout layout-align="start stretch">
            <pre ng-bind="widgetArray|json"></pre>
        </div>
        <div flex class="scrollbar-macosx span-width" data-jquery-scrollbar layout layout-align="start stretch">
            <pre ng-bind="dashboardTheme|json"></pre>
        </div>-->
    </div>
</md-dialog>

<!--
    //LOAD STATES
    <div flex layout layout-align="center center" ng-if="formLoad">
        <md-icon class="hud-loader" hud-setter height-in-percent=" 20" width-in-percent="20" md-svg-src="{{SVG.loader}}"></md-icon>
    </div>

    //advanced options
                            <div flex="5" layout layout-align="end stretch">
                            <div flex="35">
                                <md-checkbox class="hud-advanced-checkbox" ng-model="wizard.advanced" aria-label="advanced">
                                    Advanced Options
                                </md-checkbox>
                            </div>
                        </div>
     -->
<!--<div flex="none" layout layout-align="end center" hud-setter height-in-percent="5">

</div>
<div flex class="scrollbar-macosx" data-jquery-scrollbar>

</div>-->
